<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcx.dataService.mapper.FinanceAccountMapper">
  <resultMap id="BaseResultMap" type="com.zcx.api.model.FinanceAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="available_money" jdbcType="DECIMAL" property="availableMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, available_money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_finance_account
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByUidForUpdate" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"></include>
      from u_finance_account
      where uid = #{uid}
      for update
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_finance_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zcx.api.model.FinanceAccount">
    insert into u_finance_account (id, uid, available_money
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{availableMoney,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zcx.api.model.FinanceAccount">
    insert into u_finance_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="availableMoney != null">
        available_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="availableMoney != null">
        #{availableMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcx.api.model.FinanceAccount">
    update u_finance_account
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="availableMoney != null">
        available_money = #{availableMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcx.api.model.FinanceAccount">
    update u_finance_account
    set uid = #{uid,jdbcType=INTEGER},
      available_money = #{availableMoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateAvailableMoneyByInvest">
      update u_finance_account
      set available_money = available_money - #{money}
      where uid = #{uid} and (available_money - #{money} >= 0)
    </update>
  <update id="updateAvailableMoneyByIncomeBack">
    update u_finance_account
    set available_money = available_money + #{bidMoney} + #{incomeMoney}
    where uid = #{uid}
  </update>
  <update id="updateAvailableMoneyByRecharge">
    update u_finance_account
    set available_money = available_money + #{rechargeMoney}
    where uid = #{uid}
  </update>
</mapper>