<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcx.dataService.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zcx.api.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
  </resultMap>
  <resultMap id="UserAccountMap" type="com.zcx.api.pojo.UserAccountInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="header_image" jdbcType="VARCHAR" property="headerImage" />
    <result column="available_money" jdbcType="DECIMAL" property="availableMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, login_password, name, id_card, add_time, last_login_time, header_image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCountUsers" resultType="java.lang.Integer">
    select count(id) as ct from u_user
  </select>
    <select id="selectByPhone" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"></include>
      from u_user
      where phone = #{phone}
    </select>
    <select id="selectLogin" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"></include>
      from u_user
      where phone = #{phone} and login_password = #{password}
    </select>
    <select id="selectUserAccountById" resultMap="UserAccountMap">
      select u.*,a.available_money
      from u_user u join u_finance_account a on u.id = a.uid
      where u.id = #{uid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zcx.api.model.User">
    insert into u_user (id, phone, login_password, 
      name, id_card, add_time, 
      last_login_time, header_image)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{headerImage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zcx.api.model.User">
    insert into u_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="headerImage != null">
        header_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headerImage != null">
        #{headerImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="insertReturnPrimaryKey">
      insert into u_user(phone, login_password, add_time)
      values(#{phone},#{loginPassword},#{addTime})
      <selectKey keyColumn="newId" keyProperty="id" resultType="int" order="AFTER">
        select LAST_INSERT_ID() as newId
      </selectKey>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zcx.api.model.User">
    update u_user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headerImage != null">
        header_image = #{headerImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcx.api.model.User">
    update u_user
    set phone = #{phone,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      header_image = #{headerImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateRealName">
      update u_user
      set name = #{name}, id_card = #{idCard}
      where phone = #{phone}
    </update>
</mapper>